# === Common OS/Editor Junk ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp

# === IntelliJ IDEA ===
.idea/
*.iws
*.iml
*.ipr

# === VS Code ===
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === Eclipse / STS ===
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# === Spring Boot (Java) ===
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/application.properties
# === Angular ===
/node_modules/
/dist/
/tmp/
/out-tsc/
/.angular/cache/
/coverage/
/typings/
npm-debug.log
yarn-error.log

# === Angular inside ecommerce_app folder ===
ecommerce_app/node_modules/
ecommerce_app/dist/
ecommerce_app/.angular/cache/
ecommerce_app/.env

# === Spring Boot inside ecommerce_backend folder ===
ecommerce_backend/target/
ecommerce_backend/.env
ecommerce_backend/.idea/
ecommerce_backend/.classpath
ecommerce_backend/.project
ecommerce_backend/.settings/
