<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-900 text-white hidden lg:block">
    <div class="p-6 text-2xl font-bold border-b border-gray-700">
      Seller Panel
    </div>
    <nav class="mt-6 space-y-1">

          <a routerLink="analytics" routerLinkActive="bg-gray-700"
         class="block px-6 py-3 hover:bg-gray-800 rounded transition">
        📦 Analytics
      </a>
      <a
        routerLink="products"
        routerLinkActive="bg-gray-700"
        class="block px-6 py-3 rounded hover:bg-gray-800 transition"
      >
        🛍 My Products
      </a>
      <a
        routerLink="orders"
        routerLinkActive="bg-gray-700"
        class="block px-6 py-3 rounded hover:bg-gray-800 transition"
      >
        📦 My Orders
      </a>
      <a
        routerLink="analytics"
        routerLinkActive="bg-gray-700"
        class="block px-6 py-3 rounded hover:bg-gray-800 transition"
      >
        📊 Analytics
      </a>
      <a
        routerLink="add-product"
        routerLinkActive="bg-gray-700"
        class="block px-6 py-3 rounded hover:bg-gray-800 transition"
      >
        ➕ Add Product
      </a>
    </nav>
  </aside>

  <!-- Main Content -->
  <main class="flex-1 bg-gray-100 p-6 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
</div>
