<!-- Loading and Error Messages -->
<div *ngIf="isLoading" class="text-center py-8 text-lg font-medium text-gray-700">
  Yükleniyor...
</div>

<div *ngIf="error" class="text-center py-4 text-red-600 font-medium">
  {{ error }}
</div>

<!-- No Results Message -->
<div *ngIf="!isLoading && filteredProducts.length === 0 && !error" class="text-center py-8 text-gray-500">
  No products found.
</div>

<!-- src/app/modules/product/components/product-list/product-list.component.html -->
<div *ngIf="!isLoading && filteredProducts.length > 0" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-4">
  <app-product-card *ngFor="let p of filteredProducts" [product]="p"></app-product-card>  <!-- ProductCardComponent'i burada kullanıyoruz -->
</div>
