<div class="flex h-screen overflow-hidden">
  <!-- Sidebar -->
  <aside class="w-64 bg-gray-900 text-white hidden lg:block">

    <nav class="mt-6 space-y-1">
        <a routerLink="analytics" routerLinkActive="bg-gray-700"
         class="block px-6 py-3 hover:bg-gray-800 rounded transition">
        📊 Analytics
      </a>
      <a routerLink="order-mgmt" routerLinkActive="bg-gray-700"
         class="block px-6 py-3 hover:bg-gray-800 rounded transition">
        📦 Orders
      </a>
      <a routerLink="product-mgmt" routerLinkActive="bg-gray-700"
         class="block px-6 py-3 hover:bg-gray-800 rounded transition">
        🛒 Products
      </a>
      <a routerLink="user-mgmt" routerLinkActive="bg-gray-700"
         class="block px-6 py-3 hover:bg-gray-800 rounded transition">
        👥 Users
      </a>
      <a routerLink="category-mgmt" routerLinkActive="bg-gray-700"
         class="block px-6 py-3 hover:bg-gray-800 rounded transition">
        🗂 Categories
      </a>
    </nav>
  </aside>

  <!-- Main content -->
  <main class="flex-1 bg-gray-100 p-6 overflow-y-auto">
    <router-outlet></router-outlet>
  </main>
</div>
